<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-8">

            <div class="card">

                <div class="card-header">
                    <strong>Campaign URL Builder</strong>
                </div>

                <div class="card-block">


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="source">Source</label>
                                <input type="text" class="form-control" id="txtSource" placeholder="Enter Campaign Source">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="medium">Medium</label>
                                <input type="text" class="form-control" id="txtMedium" placeholder="Enter your Medium">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="campaignname">Campaign Name</label>
                                <input type="text" class="form-control" id="txtCampaignName" placeholder="Enter your Campaign Name">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="landingurl">Landing URL</label>
                                <input type="text" class="form-control" id="txtLandingUrl" placeholder="Enter your Landing URL">
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary" id="btnMakeUrl" (click)="btnMake_Click()" ><i class="fa fa-dot-circle-o"></i> Make</button>
                </div>

            </div>
        </div>
        <!--/.col-->

    </div>
    <!--/.row-->

    <div class="row">
        <div class="col-sm-8">

            <div class="card">

                <div class="card-header">
                    <strong>Generated Campaign URL</strong>
                </div>

                <div class="card-block">


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="txtResult" >
                            </div>
                        </div>
                    </div>
                    <!--/.row-->

                </div>
               

            </div>
        </div>
        <!--/.col-->

    </div>
    <!--/.row-->

</div>