<div class="animated fadeIn">
    <div class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Flow Design</h4>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div style="margin-top:5px">
                
            </div>

        </div>

    </div>
</div>
<ins-canvas [Height] = 500 ></ins-canvas>
<ins-canvas [Height] = 250 ></ins-canvas>