<button (click)="showConfirm()">ng2 bootstarp modal</button>

<button (click)="myModal.show()">Core UI Modal</button>


<div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<md-tab-group>

  <md-tab label="Tab 1">

    <div mdTooltip="Test" [mdTooltipPosition]="position">
      <span>Show Tooltip</span>
    </div>

    <md-input-container>
      <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
  </md-tab>


  <md-tab label="Tab 2">

    <md-sidenav-container class="example-container">
      <md-sidenav #sidenav class="example-sidenav">
        <button>test</button>
      </md-sidenav>

      <div class="example-sidenav-content">
        <button md-button (click)="sidenav.open()">
      Open sidenav
    </button>
      </div>

    </md-sidenav-container>


  </md-tab>


</md-tab-group>